.headerWrapper {
  position: sticky;
  display: flex;
  justify-content: space-between;
  height: 80px;
  background-color: rgb(174, 54, 44);
  padding-inline: 3rem;
  align-items: center;
}

.navLinks {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

@media screen and (max-width: 768px) {
  .navLinks {
    justify-content: center;
  }
  .headerWrapper {
    height: auto;
    flex-direction: column;
    text-align: center;
  }
}

.link {
  text-decoration: none;
  list-style-type: none;
  cursor: pointer;
  color: white;
}

.link:hover {
  text-decoration: underline;
}
